/* import font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* import icons */

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


/* presets */

:root {
    --primary-color: #00AEFF;
    --secondary-color: #FF002E;

    --color-gray-1: #ffffff;
    --color-gray-2: #FAFDFF;
    --color-gray-3: #E6EEF2;
    --color-gray-4: #B1C4CC;
    --color-gray-5: #66808C;
    --color-gray-6: #213640;
    --color-gray-7: #0B1E26;
    --color-gray-8: #03121A;
    --color-gray-9: #000000;
}

* {
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #031219;
    padding-bottom: 80px;
    color: #fff;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 120.5%;
    color: var(--color-gray-1);
    margin: 0px;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: var(--color-gray-1);
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 135.5%;
    letter-spacing: 0.05em;
    color: var(--color-gray-5);
    text-decoration: none;
}

a {
    color: #00AEFF;
    text-decoration: none;
}

a:visited {
    color: #00AEFF;
}

html, body {
    width: 100%;
    overflow-x:hidden ;
}


/* Mobile version */

@media (max-width: 480px) {
    
    h2 {
        font-size: 6.667vw;
        line-height: 36px;
    }
    
    p {
        font-size: 4.444vw;
    }

}