#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 108px;
}

#section4 .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#section4 .header .tittle {
    font-size: 48px;
    font-weight: 600;
    color: var(--color-gray-1);
    text-align: center;
}

#section4 .resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 124px;
}

#section4 .resources_group {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1192px;
}

#section4 .resource {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 268.50px;
    gap: 12px;
}

#section4 .resource i {
    line-height: 0;
    font-size: 32px;
    color: #66808C;
}

#section4 .text_resource {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#section4 .resource .tittle {
    font-size: 24px;
    font-weight: 600;
    color: #E6EEF2;
}

#section4 .resource .description {
    font-size: 18px;
    font-weight: 300;
    color: #66808C;
}



/* Mobile version */

@media (max-width: 480px) {

    #section4 {
        gap: 24.444vw;
        width: 90vw;
        margin: 0 auto;
    }
    
    #section4 .header {
        gap: 2.222vw;
    }
    
    #section4 .header .tittle {
        font-size: 8.889vw;
    }
    
    #section4 .resources {
        gap: 24.444vw;
    }
    
    #section4 .resources_group {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 24.444vw;
    }
    
    #section4 .resource {
        width: 70vw;
        gap: 3.333vw;
    }
    
    #section4 .resource i {
        font-size: 8.889vw;
    }
    
    #section4 .text_resource {
        gap: 2.222vw;
    }
    
    #section4 .resource .tittle {
        font-size: 5.556vw;
    }
    
    #section4 .resource .description {
        font-size: 4.444vw;
    }

}