.dz-clickable {
    border: 1px dashed #b1becc;
    border-radius: 4px;
    padding: 25px 0 20px;
    text-align: center;
}

.dz-message {
    padding-bottom: 15px;
}

.dz-message span {
    display: block;
    color: rgba(117, 134, 152, 0.6);
}

.dz-message-text {
    font-size: 13px;
}

.dz-message-or {
    font-size: 16px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.list-s1 {
    padding: 10px 0
}

.list-s1 li {
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 3px;
    border: 1px solid #e6effb
}

.list-s2 {
    padding: 10px 0
}

.list-s2 li {
    padding-top: 12px;
    padding-bottom: 12px
}

.list-s2 li:not(:last-child) {
    border-bottom: 1px solid #e6effb
}

.list-content {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.list-col2x,
.list-col3x,
.list-col4x,
.list-col5x {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px
}

.list-col2x>li,
.list-col3x>li,
.list-col4x>li,
.list-col5x>li {
    margin-left: 15px;
    margin-right: 15px;
    flex-shrink: 0
}

.list-col2x>li {
    width: calc(50% - 30px)
}

@media (min-width: 576px) {
    .list-st {
        font-size: 0.9em
    }

    .list-col3x>li,
    .list-col4x>li,
    .list-col5x>li {
        width: calc(50% - 30px)
    }
}

@media (min-width: 768px) {
    .list-col3x>li {
        width: calc(33.33% - 30px)
    }

    .list-col4x>li,
    .list-col5x>li {
        width: calc(25% - 30px)
    }
}

@media (min-width: 992px) {
    .list-col5x>li {
        width: calc(20% - 30px)
    }
}
.list-check li {
    color: #495463;
    position: relative;
    padding-left: 20px
}
ul li,
ol li {
    list-style: none
}
.list-check li:not(:last-child) {
    padding-bottom: 6px
}

.list-check li:before {
    position: absolute;
    left: 0;
    top: 2px;
    font-family: Font Awesome;
    content: '\f00c';
    font-weight: 700;
    color: #6e81a9;
    margin-right: 4px;
    font-size: 12px
}
.list-content {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.input-item {
    position: relative;
    padding-bottom: 20px
}
.input-textarea {
    height: 136px;
    display: block;
    resize: none
}
.input-item-sm {
    padding-bottom: 6px
}

.input-item-label {
    font-size: 14px;
    font-weight: 500;
    color: #495463;
    line-height: 1.1;
    margin-bottom: 12px;
    display: inline-block
}

.input-wrap {
    position: relative;
}

.input-bordered {
    border-radius: 4px;
    border: 1px solid #d2dde9;
    width: 100%;
    padding: 10px 15px;
    line-height: 20px;
    font-size: .9em;
    color: rgba(73, 84, 99, 0.7);
    transition: all .4s;
}

.input-bordered::-webkit-input-placeholder {
    color: #758698;
}

.input-bordered::-moz-placeholder {
    color: #758698;
}

.input-bordered:-ms-input-placeholder {
    color: #758698;
}

.input-bordered:-moz-placeholder {
    color: #758698;
}

.input-bordered:focus {
    box-shadow: 0 1px 5px rgba(73, 84, 99, 0.1);
    outline: none;
    border-color: #b1becc;
    color: #495463;
}

.input-bordered:disabled {
    background: rgba(230, 239, 251, 0.2);
}

.input-checkbox {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
}

.input-checkbox~label:not(.error) {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0;
    color: #495463;
    padding-left: 42px;
    position: relative;
    cursor: pointer;
    transition: all .4s;
    text-transform: initial;
    display: block;
}

.input-checkbox~label:not(.error):before,
.input-checkbox~label:not(.error):after {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    transition: all .4s;
}

.input-checkbox~label:not(.error):before {
    content: '';
    border: 2px solid #d2dde9;
}

.input-checkbox~label:not(.error):after {
    line-height: 30px;
    text-align: center;
    font-family: themify;
    content: '\e64c';
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    background: #7668fe;
    opacity: 0;
}

.input-checkbox:disabled~label:not(.error) {
    opacity: .5;
}

.input-checkbox:checked~label:not(.error):after {
    opacity: 1;
}

.input-checkbox-md~label:not(.error) {
    font-size: 14px;
    line-height: 24px;
    padding-left: 36px;
}

.input-checkbox-md~label:not(.error):before,
.input-checkbox-md~label:not(.error):after {
    height: 24px;
    width: 24px;
}

.input-checkbox-md~label:not(.error):after {
    line-height: 24px;
    font-size: 10px;
}

.input-note {
    font-size: 12px;
    line-height: 1.4em;
    color: #758698;
    font-weight: 400;
    display: block;
    padding: 8px 0 0;
}

.document-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.document-item {
    width: 100%;
}

.document-type {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
}

.document-type-icon {
    position: relative;
    width: 30px;
    flex-shrink: 0;
}

.document-type-icon img {
    min-width: 100%;
    transition: all .4s;
}

.document-type-icon img:last-child:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.document-type~label {
    position: relative;
    display: block;
    border: 2px solid #e6effb;
    border-radius: 4px;
    color: #758698;
    padding: 8px 42px 8px 14px;
    font-size: 11px;
    transition: all .4s;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0;
}

.document-type~label:after {
    position: absolute;
    right: 14px;
    top: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 9px;
    border-radius: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    color: #fff;
    background: #7668fe;
    text-align: center;
    opacity: 0;
}

.document-type~label span {
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: all .4s;
}

.document-type:checked~label {
    border-color: #7668fe;
}

.document-type:checked~label:after {
    opacity: 1;
}

.document-type:checked~label span {
    color: #495463;
}

.document-type:checked~label .document-type-icon img:last-child:not(:first-child) {
    opacity: 1;
}

@media (min-width: 414px) {
    .document-list {
        margin-left: -5px;
        margin-right: -5px;
    }

    .document-item {
        padding-left: 5px;
        padding-right: 5px;
        width: 50%;
    }

    .document-item:last-child:not(:nth-child(even)) {
        width: 100%;
    }

    .document-type~label span {
        padding-left: 8px;
    }
}

@media (min-width: 768px) {
    .document-item {
        width: auto !important;
    }

    .document-type-icon {
        width: 34px;
    }

    .document-type~label {
        padding-right: 46px;
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    .document-list {
        margin-left: -10px;
        margin-right: -10px;
    }

    .document-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .document-type-icon {
        width: 40px;
    }

    .document-type~label {
        padding: 10px 48px 10px 16px;
        font-size: 13px;
    }
}

.doc-upload+.doc-upload {
    margin-top: 30px;
}

.doc-upload.hide {
    display: none;
}


.note {
    padding: 15px 15px 15px 45px;
    border-radius: 4px;
    position: relative;
    line-height: 1.4;
}

.note [class*=fa] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 11px;
    width: 44px;
    text-align: center;
    line-height: inherit;
}

.note p {
    font-size: 11px !important;
    line-height: inherit;
    display: block;
}

.note-plane {
    padding: 0 0 0 18px;
    background: transparent !important;
}

.note-plane [class*=fa] {
    top: 0;
    line-height: 14px;
    transform: translateY(1px);
    width: 18px;
    text-align: left;
}

.note-light-alt p {
    color: #758698;
}

.note-light-alt [class*=fa] {
    color: #758698;
}

@media (min-width: 576px) {
    .note p {
        font-size: 12px !important;
    }
}

@media (min-width: 992px) {
    .note-md p {
        font-size: 14px !important;
    }

    .note-md [class*=fa] {
        font-size: 12px;
    }
}

.card-innr {
    position: relative;
    padding: 15px 18px;
    border-color: #e6effb !important;
}

.card-innr>div:last-child:not(.input-item):not(.row):not(.step-head):not(.tile-footer):not(.tab-content):not(.progress-bar):not(.chart-tokensale):not(:only-child) {
    margin-bottom: 5px;
}

.card.kyc-form-steps {
    transition: none;
}

@media (min-width: 576px) {

    .card-innr {
        padding: 20px 25px;
    }
}

.list-check li {
    color: #495463;
    position: relative;
    padding-left: 20px;
}

.list-check li:not(:last-child) {
    padding-bottom: 6px;
}

.list-check li:before {
    position: absolute;
    left: 0;
    top: 2px;
    font-family: Font Awesome;
    content: '\f00c';
    font-weight: 700;
    color: #6e81a9;
    margin-right: 4px;
    font-size: 12px;
}

.kyc-form-steps {
    margin-bottom: 25px;
}

.form-step-head {
    border-top: 1px solid #eef2f8;
    border-bottom: 1px solid #eef2f8;
}

.form-step-final {
    border-top: 1px solid #eef2f8;
    padding-bottom: 5px;
}

.form-step-fields {
    padding: 20px;
}

.form-step.form-step1 .form-step-fields {
    padding-bottom: 1px;
}

.form-step.form-step2 .form-step-fields {
    padding-bottom: 16px;
}

.form-step.form-step3 .form-step-fields {
    padding-top: 15px;
    padding-bottom: 1px;
}

.form-step .note-plane {
    margin-bottom: 10px;
}

.form-step .note-plane [class*=fa] {
    transform: translateY(3px);
}

.form-step .note-plane p {
    font-size: 1em !important;
    line-height: 1.5;
}

.form-step.form-step2 .note-plane {
    margin-bottom: 2px;
}

.step-head {
    display: flex;
    align-items: center;
}

.step-head-text h4 {
    margin-bottom: 0;
    color: #342d6e;
}

.step-head-text p {
    font-size: 0.95em;
}

.step-head h4 {
    font-weight: 500;
}

.step-number {
    flex-shrink: 0;
    height: 48px;
    width: 48px;
    font-size: 16px;
    color: #758698;
    border: 2px solid #b1becc;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    margin-right: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

@media (min-width: 576px) {
    .kyc-form-steps {
        margin-bottom: 60px;
    }

    .form-step-fields {
        padding: 30px;
    }

    .form-step.form-step1 .form-step-fields {
        padding-bottom: 10px;
    }

    .form-step.form-step2 .form-step-fields {
        padding-bottom: 25px;
    }

    .form-step.form-step3 .form-step-fields {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .step-head h4 {
        font-weight: 400;
    }

    .step-number {
        font-size: 20px;
        margin-right: 18px;
    }
}

.sap {
    width: 100%;
    border-bottom: 1px solid #e6effb;
}

.sap.sap-gap {
    margin-top: 30px;
    margin-bottom: 30px;
}

.gaps-1x {
    height: 10px;
}

.gaps-2x {
    height: 20px;
}

.pdb-0-5x {
    padding-bottom: 5px;
}

.pdb-1x {
    padding-bottom: 10px;
}

.mgt-0-5x {
    margin-top: 5px !important;
}

.guttar-vr-10px {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}

.guttar-vr-10px>li {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

select {
    width: 100%;
    line-height: 20px;
    padding: 10px 20px 10px 15px;
    border: none;
    border-radius: 4px;
    height: 42px !important;
    font-size: 14px;
    color: #6e81a9;
    background: transparent;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

select:focus {
    outline: none
}

select.select-sm {
    height: 37px
}

select~.error {
    color: #ff6868;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    z-index: 11;
    font-size: 11px
}

.validate-modern select~.error {
    position: absolute;
    right: -10px;
    top: -15px;
    bottom: auto;
    background: #ff6868;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    padding: 2px 10px;
    border-radius: 2px;
    z-index: 11
}

.validate-modern select~.error:after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid #ff6868;
    border-bottom: 5px solid transparent;
    bottom: -5px;
    left: 3px
}

.error+.select2-container {
    margin-bottom: 25px
}

.validate-modern .error+.select2-container {
    margin-bottom: 0
}

.select-wrapper {
    position: relative
}

.select-wrapper:after {
    position: absolute;
    height: 42px;
    width: 44px;
    line-height: 44px;
    text-align: center;
    top: 50%;
    right: 0;
    font-family: 'themify';
    transform: translateY(-50%);
    content: '\e64b';
    font-size: 10px;
    color: #758698
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-selection--multiple .select2-selection__rendered {
    line-height: 20px;
    font-size: .9em;
    padding: 10px 40px 10px 15px;
    font-weight: 400
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 8px 6px 8px;
    display: block;
    vertical-align: top
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    margin-top: 4px;
    float: left
}

.select2-container .select2-selection--multiple .select2-search__field {
    padding-left: 7px
}

.select2-container .select2-search--inline:first-child {
    width: 100%
}

.select2-container--flat .select2-selection--single .select2-selection__rendered,
.select2-container--flat .select2-selection--multiple .select2-selection__rendered {
    color: #495463
}

.select-sm~.select2-container .select2-selection--single .select2-selection__rendered,
.select-sm~.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 8px 32px 8px 12px
}

.select-xs~.select2-container .select2-selection--single .select2-selection__rendered,
.select-xs~.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 5px 26px 5px 12px
}

.select2-container .select2-selection--single {
    height: 42px
}

.select2-container .select2-selection--multiple {
    min-height: 42px
}

.select-sm~.select2-container .select2-selection--single,
.select-sm~.select2-container .select2-selection--multiple {
    height: 36px
}

.select-xs~.select2-container .select2-selection--single,
.select-xs~.select2-container .select2-selection--multiple {
    height: 30px
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered,
.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
    padding-right: 30px;
    padding-left: 40px
}

.select-sm~.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered,
.select-sm~.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
    padding-right: 12px;
    padding-left: 32px
}

.select-xs~.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered,
.select-xs~.select2-container[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
    padding-right: 12px;
    padding-left: 28px
}

.select2-container--flat .select2-results__option--highlighted[aria-selected] {
    background: rgba(230, 239, 251, 0.7);
    color: #495463
}

.select2-container--flat .select2-results__option[aria-selected=true] {
    background: rgba(230, 239, 251, 0.7);
    color: #495463
}

.select2-results__option {
    padding: 8px 15px;
    border-bottom: 1px solid #eef2f8;
    font-size: .9em;
    line-height: 1.2;
    transition: all .5s ease
}

.select2-results__option:last-child {
    border-bottom: none
}

.select2-container--flat .select2-selection--single,
.select2-container--flat .select2-selection--multiple {
    background: #fff;
    color: #495463;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all .2s;
    box-shadow: 0px 2px 18px 2px rgba(73, 84, 99, 0.25)
}

.select2-container--flat .select2-selection--single:focus,
.select2-container--flat .select2-selection--multiple:focus {
    outline: none
}

.select-bordered~.select2-container--flat .select2-selection--single,
.select-bordered~.select2-container--flat .select2-selection--multiple {
    box-shadow: none;
    border-color: #d2dde9
}

.select-bordered~.select2-container--flat.select2-container--open .select2-selection--single,
.select-bordered~.select2-container--flat.select2-container--open .select2-selection--multiple {
    border-color: #b1becc
}

.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px 4px 0 0
}

.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--open.select2-container--above .select2-selection--multiple {
    border-radius: 0 0 4px 4px
}

.select2-selection--single .select2-selection__arrow,
.select2-selection--multiple .select2-selection__arrow {
    position: absolute;
    height: 44px;
    width: 40px;
    top: 0;
    right: 0;
    transition: all .3s ease
}

.select2-selection--single .select2-selection__arrow:after,
.select2-selection--multiple .select2-selection__arrow:after {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'themify';
    transform: translate(-50%, -50%);
    content: '\e64b';
    font-size: 10px;
    color: #758698
}

.select2-selection--single .select2-selection__arrow b,
.select2-selection--multiple .select2-selection__arrow b {
    display: none
}

.select-sm~.select2-container .select2-selection--single .select2-selection__arrow,
.select-sm~.select2-container .select2-selection--multiple .select2-selection__arrow {
    height: 37px;
    width: 37px
}

.select-sm~.select2-container .select2-selection--single .select2-selection__arrow:after,
.select-sm~.select2-container .select2-selection--multiple .select2-selection__arrow:after {
    font-size: 12px
}

.select-xs~.select2-container .select2-selection--single .select2-selection__arrow,
.select-xs~.select2-container .select2-selection--multiple .select2-selection__arrow {
    height: 30px;
    width: 30px
}

.select-xs~.select2-container .select2-selection--single .select2-selection__arrow:after,
.select-xs~.select2-container .select2-selection--multiple .select2-selection__arrow:after {
    font-size: 12px
}

.select2-container--flat.select2-container--open .select2-selection--single .select2-selection__arrow,
.select2-container--flat.select2-container--open .select2-selection--multiple .select2-selection__arrow {
    transform: rotate(-180deg)
}

.select2-container--flat .select2-results>.select2-results__options {
    max-height: 250px;
    overflow: auto;
    background: #fff
}

.select2-dropdown--below .select2-results__options {
    border-radius: 0 0 4px 4px
}

.select2-dropdown--above .select2-results__options {
    border-radius: 4px 4px 0 0
}

.select2-dropdown.select2-dropdown--below {
    border-radius: 0 0 4px 4px
}

.select2-dropdown.select2-dropdown--above {
    border-radius: 4px 4px 0 0
}

.select2-search--dropdown {
    display: none;
    background: #fff;
    padding: 8px 15px
}

.search-on .select2-search--dropdown {
    display: block;
    border-bottom: 1px solid #e6effb
}

.select2-search--inline {
    padding-top: 8px
}

.select2-search--inline:first-child input {
    min-width: 100%
}

.select2-search--inline input {
    margin-top: 0 !important;
    min-width: 20px;
    transition: none;
    outline: none
}

.select2-dropdown {
    border-radius: 0;
    border: none;
    background: transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.03)
}

.bordered .select2-dropdown {
    border: 1px solid #b1becc
}

.bordered .select2-dropdown.select2-dropdown--above {
    border-bottom: none
}

.bordered .select2-dropdown.select2-dropdown--below {
    border-top: none
}

.select2-selection__choice {
    display: inline-block;
    padding: 4px 8px 4px 2px;
    background: #e6effb;
    border-radius: 3px;
    margin-right: 6px
}

.select2-selection__choice__remove {
    padding: 2px 6px
}

.select2-selection__choice__remove:hover {
    color: #ff6868
}

.select-block~.select2-container.select2 {
    width: 100% !important
}

.select2-search__field {
    border-radius: 3px;
    border: 1px solid #d2dde9;
    width: 100%;
    padding: 10px 15px;
    line-height: 20px;
    font-size: .9em;
    color: rgba(73, 84, 99, 0.7);
    transition: border-color .4s, color .4s;
    outline: 0
}

.select2-search--dropdown .select2-search__field {
    padding: 5px 6px
}

.status {
    font-size: 14px;
    border-radius: 4px
}

.status-primary {
    color: #7668fe;
    background: rgba(118, 104, 254, 0.15)
}

.status-secondary {
    color: #342d6e;
    background: rgba(52, 45, 110, 0.15)
}

.status-success {
    color: #00d285;
    background: rgba(0, 210, 133, 0.15)
}

.status-info {
    color: #1babfe;
    background: rgba(27, 171, 254, 0.15)
}

.status-warning {
    color: #ffc100;
    background: rgba(255, 193, 0, 0.15)
}

.status-danger {
    color: #ff6868;
    background: rgba(255, 104, 104, 0.15)
}

.status-purple {
    color: #bc69fb;
    background: rgba(188, 105, 251, 0.15)
}

.status-icon {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 20px;
    border: 2px solid #b1becc
}

.status-icon>.bi {
    color: #b1becc;
    font-size: 36px;
    line-height: 86px
}

.status-icon-sm {
    position: absolute;
    right: -2px;
    bottom: -2px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ffc7c7
}

.status-icon-sm>.bi {
    font-size: 12px;
    line-height: 22px;
    color: #ffc7c7;
    display: block
}

.status-text {
    display: block;
    font-size: 1.29em;
    line-height: 1.6;
    font-weight: 400;
    color: #758698;
    letter-spacing: -0.01em;
    padding-bottom: 13px
}

.status-text-d {
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    color: #758698;
    letter-spacing: -0.01em;
    padding-bottom: 5px
}

.status-text.large {
    font-size: 1.314em
}

.status .btn {
    margin-top: 20px
}

.status-empty .status-icon {
    border-color: #b1becc
}

.status-empty .status-icon>.bi {
    color: #b1becc
}

.status-thank .status-icon,
.status-verified .status-icon {
    border-color: #06d388
}

.status-thank .status-icon>.bi,
.status-verified .status-icon>.bi {
    color: #06d388
}

.status-thank .status-icon-sm,
.status-verified .status-icon-sm {
    border-color: #06d388
}

.status-thank .status-icon-sm>.bi,
.status-verified .status-icon-sm>.bi {
    color: #06d388
}

.status-verified .status-text {
    color: #06d388
}

.status-process .status-icon {
    border-color: #50b3ff
}

.status-process .status-icon>.bi {
    color: #50b3ff
}

.status-process .status-icon-sm {
    border-color: #50b3ff
}

.status-process .status-icon-sm>.bi {
    color: #50b3ff
}

.status-canceled .status-icon {
    border-color: #ffc7c7
}

.status-canceled .status-icon>.bi {
    color: #ffc7c7
}

.status-canceled .status-icon-sm {
    border-color: #ffc7c7
}

.status-canceled .status-icon-sm>.bi {
    color: #ffc7c7
}

.status-canceled .status-text {
    color: #ffc7c7
}

.status-warnning .status-icon {
    border-color: #ffd147
}

.status-warnning .status-icon>.bi {
    color: #ffd147
}

.status-warnning .status-icon-sm {
    border-color: #ffd147
}

.status-warnning .status-icon-sm>.bi {
    color: #ffd147
}

@media (min-width: 576px) {
    .status {
        padding: 45px 40px
    }

    .status-text.large {
        font-size: 1.65em
    }

    .status-sm {
        padding: 20px
    }

    .status-lg {
        padding: 50px
    }
}

.kyc-status {
    margin-bottom: 20px
}

.kyc-list .badge {
    min-width: 80px
}

.wizard-kyc .steps {
    margin-bottom: 30px
}

.wizard-kyc .steps ul {
    margin: 0 -15px
}

.wizard-kyc .steps ul li {
    position: relative;
    padding: 0 15px
}

.wizard-kyc .steps ul li .number {
    display: none
}

.wizard-kyc .steps ul li .step-number {
    font-size: 18px;
    transition: all .4s
}

.wizard-kyc .steps ul li .step-head {
    display: block
}

.wizard-kyc .steps ul li .step-head-text h4 {
    color: #342d6e;
    padding: 7px 0;
    font-size: 1.19em
}

.wizard-kyc .steps ul li .step-head-text p {
    color: #758698;
    font-size: 0.9em;
    line-height: 1.5
}

.wizard-kyc .steps ul li.done .step-number,
.wizard-kyc .steps ul li.current .step-number {
    color: #fff;
    border-color: #7668fe;
    background: #7668fe
}

.wizard-kyc .steps ul li.current~.done .step-number {
    color: #758698;
    border-color: #b1becc;
    background: none
}

.wizard-kyc .steps .current-info {
    display: none
}

.kyc-alert {
    margin-top: 20px;
    padding-bottom: 4px
}

.kyc-status {
    margin-bottom: 20px
}

.kyc-form-steps {
    margin-bottom: 25px
}

.kyc-file.fa-file-pdf,
.kyc-file.fa-image {
    font-size: 40px;
    line-height: 54px;
    display: block;
    text-align: center;
    opacity: 0.2
}

.kyc-option {
    border-bottom: 1px solid #e6effb
}

.kyc-option-head {
    padding-top: 18px;
    padding-bottom: 18px
}


.page-header-kyc {
    padding-top: 14px;
    padding-bottom: 25px
}

.page-header-kyc div[class*=col-] {
    padding-left: 30px;
    padding-right: 30px
}

.page-header-kyc .page-title {
    font-weight: 400
}

.page-header-kyc p {
    font-size: 1em
}

.data-details {
    border-radius: 4px;
    padding: 18px 20px;
    border: 1px solid #d2dde9
}

.data-details>div {
    flex-grow: 1;
    margin-bottom: 18px
}

.data-details>div:last-child {
    margin-bottom: 0
}

.data-details-title {
    font-size: 14px;
    font-weight: 600;
    color: #758698;
    line-height: 20px;
    display: block
}

.data-details-info {
    font-size: 14px;
    font-weight: 400;
    color: #495463;
    line-height: 20px;
    display: block;
    margin-top: 6px
}

.data-details-info.large {
    font-size: 20px
}

.data-details-list {
    border-radius: 4px;
    border: 1px solid #d2dde9
}

.data-details-list li {
    display: block
}

.data-details-list li:last-child .data-details-des {
    border-bottom: none
}

.data-details-head {
    font-size: 13px;
    font-weight: 500;
    color: #758698;
    line-height: 20px;
    padding: 15px 20px 2px;
    width: 100%
}

.data-details-des {
    font-size: 14px;
    color: #495463;
    font-weight: 400;
    line-height: 20px;
    padding: 2px 20px 15px;
    flex-grow: 1;
    border-bottom: 1px solid #d2dde9;
    display: flex;
    justify-content: space-between
}

.data-details-des .ti:not([data-toggle="tooltip"]),
.data-details-des [class*=fa]:not([data-toggle="tooltip"]) {
    color: #7668fe
}

.data-details-des span:last-child:not(:first-child) {
    font-size: 12px;
    color: #758698
}

.data-details-des small {
    color: #758698
}

.data-details-des span,
.data-details-des strong {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.data-details-docs {
    border-top: 1px solid #d2dde9;
    margin-top: 12px
}

.data-details-docs-title {
    color: #495463;
    display: block;
    padding-bottom: 6px;
    font-weight: 400
}

.data-details-docs>li {
    flex-grow: 1;
    border-bottom: 1px solid #d2dde9;
    padding: 20px
}

.data-details-docs>li:last-child {
    border-bottom: none
}

.data-details-alt {
    border-radius: 4px;
    border: 1px solid #d2dde9;
    font-weight: 400
}

.data-details-alt li {
    line-height: 1.35;
    padding: 15px 20px;
    border-bottom: 1px solid #d2dde9
}

.data-details-alt li:last-child {
    border-bottom: none
}

.data-details-alt li div {
    padding: 3px 0
}

.data-details-date {
    display: block;
    padding-bottom: 4px
}

.data-doc-list {
    display: flex;
    margin: 0 -5px
}

.data-doc-list>div {
    margin: 0 5px
}

.data-doc-item {
    height: 54px;
    width: 70px;
    border-radius: 3px;
    overflow: hidden;
    position: relative
}

.data-doc-item:hover .data-doc-actions {
    opacity: 1
}

.data-doc-item-lg {
    width: 180px;
    height: 140px
}

.data-doc-item-lg .kyc-file {
    font-size: 110px;
    line-height: 140px
}

.data-doc-image {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.data-doc-image img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: initial
}

.data-doc-actions {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s
}

.data-doc-actions li {
    margin: 3px
}

.data-doc-actions li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 31px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background: rgba(118, 104, 254, 0.7)
}

.data-doc-actions li a:hover {
    background: rgba(118, 104, 254, 0.9)
}

.page-nav-wrap {
    border: 1px solid #e6effb;
    border-radius: 3px;
    margin-bottom: 30px
}

.page-nav-wrap>div:first-child {
    border-radius: 3px 3px 0 0
}

.page-nav-wrap>div:last-child {
    border-radius: 0 0 3px 3px
}

.page-nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 20px
}

.page-nav li a {
    font-size: 14px;
    color: #758698;
    font-weight: 500
}

.page-nav li a:hover,
.page-nav li a:focus {
    color: #495463
}

.page-nav li:first-child a {
    padding-left: 0
}

.page-nav li.active a {
    color: #7668fe
}

.data-col {
    padding: 14px 15px 14px 0;
    border-bottom: 1px solid #e6effb
}

.data-table-plain .data-col {
    padding: 14px 12px 14px 0
}

.data-table:not(.dt-init) .data-item:last-child .data-col {
    border-bottom: none;
    padding-bottom: 5px
}

.data-col:last-child {
    padding-right: 0
}

.data-col .lead {
    font-size: 12px;
    font-weight: 600;
    color: #495463;
    letter-spacing: 0.01em;
    line-height: 1.2;
    display: block;
    margin-top: 0
}

.data-col .sub {
    font-size: 10px;
    font-weight: 400;
    color: #758698;
    letter-spacing: 0.01em;
    line-height: 1.3;
    padding-top: 7px;
    display: block
}

.data-col .sub-s2 {
    font-size: 12px;
    color: #495463;
    padding-top: 0
}

.data-col .sub-s2.sub-time {
    font-size: 0.8em
}

.data-col .sub:first-child {
    padding-top: 0
}

.data-col .sub [data-toggle="tooltip"] {
    color: #758698;
    font-size: 11px
}

.data-col.dt-status {
    text-align: center
}

.data-col-wd-sm {
    width: 100px
}

.data-col-wd-md {
    width: 120px
}

.data-col-wd-lg {
    width: 180px
}

.data-col .text-wrap {
    width: 70px
}

.data-item {
    background: #fff;
    margin-bottom: 3px;
    border-radius: 4px;
    position: relative
}

.data-head .data-col {
    padding: 0 10px 0 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #7668fe;
    text-transform: uppercase;
    border-bottom: none
}

.data-state {
    height: 30px;
    width: 30px;
    line-height: 28px;
    flex-shrink: 0;
    display: inline-block
}

.data-state:not(:last-child) {
    margin-right: 12px
}

.data-state:after {
    display: block;
    font-family: 'themify';
    color: #7668fe;
    height: 100%;
    width: 100%;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid
}

.data-state-sm {
    height: 24px;
    width: 24px;
    line-height: 23px
}

.data-state-sm:after {
    font-size: 12px
}

.data-state-approved:after {
    content: '\e64c';
    color: #00d285;
    border-color: #00d285
}

.data-state-pending:after {
    content: '\e6c5';
    color: #ffc100;
    border-color: #ffc100
}

.data-state-canceled:after {
    content: '\e646';
    color: #ff6868;
    border-color: #ff6868
}

.data-state-progress:after {
    content: '\e6c6';
    color: #1babfe;
    border-color: #1babfe
}

.data-state-missing:after {
    content: '\e69c';
    color: #b1becc;
    border-color: #b1becc
}

.data-details {
    border-radius: 4px;
    padding: 18px 20px;
    border: 1px solid #d2dde9
}

.data-details>div {
    flex-grow: 1;
    margin-bottom: 18px
}

.data-details>div:last-child {
    margin-bottom: 0
}

.data-details-title {
    font-size: 14px;
    font-weight: 600;
    color: #758698;
    line-height: 20px;
    display: block
}

.data-details-info {
    font-size: 14px;
    font-weight: 400;
    color: #495463;
    line-height: 20px;
    display: block;
    margin-top: 6px
}

.data-details-info.large {
    font-size: 20px
}

.data-details-list {
    border-radius: 4px;
    border: 1px solid #d2dde9
}

.data-details-list li {
    display: block
}

.data-details-list li:last-child .data-details-des {
    border-bottom: none
}

.data-details-head {
    font-size: 13px;
    font-weight: 500;
    color: #758698;
    line-height: 20px;
    padding: 15px 20px 2px;
    width: 100%
}

.data-details-des {
    font-size: 14px;
    color: #495463;
    font-weight: 400;
    line-height: 20px;
    padding: 2px 20px 15px;
    flex-grow: 1;
    border-bottom: 1px solid #d2dde9;
    display: flex;
    justify-content: space-between
}

.data-details-des .ti:not([data-toggle="tooltip"]),
.data-details-des [class*=fa]:not([data-toggle="tooltip"]) {
    color: #7668fe
}

.data-details-des span:last-child:not(:first-child) {
    font-size: 12px;
    color: #758698
}

.data-details-des small {
    color: #758698
}

.data-details-des span,
.data-details-des strong {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.data-details-docs {
    border-top: 1px solid #d2dde9;
    margin-top: 12px
}

.data-details-docs-title {
    color: #495463;
    display: block;
    padding-bottom: 6px;
    font-weight: 400
}

.data-details-docs>li {
    flex-grow: 1;
    border-bottom: 1px solid #d2dde9;
    padding: 20px
}

.data-details-docs>li:last-child {
    border-bottom: none
}

.data-details-alt {
    border-radius: 4px;
    border: 1px solid #d2dde9;
    font-weight: 400
}

.data-details-alt li {
    line-height: 1.35;
    padding: 15px 20px;
    border-bottom: 1px solid #d2dde9
}

.data-details-alt li:last-child {
    border-bottom: none
}

.data-details-alt li div {
    padding: 3px 0
}

.data-details-date {
    display: block;
    padding-bottom: 4px
}

.data-doc-list {
    display: flex;
    margin: 0 -5px
}

.data-doc-list>div {
    margin: 0 5px
}

.data-doc-item {
    height: 54px;
    width: 70px;
    border-radius: 3px;
    overflow: hidden;
    position: relative
}

.data-doc-item:hover .data-doc-actions {
    opacity: 1
}

.data-doc-item-lg {
    width: 180px;
    height: 140px
}

.data-doc-item-lg .kyc-file {
    font-size: 110px;
    line-height: 140px
}

.data-doc-image {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.data-doc-image img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: initial
}

.data-doc-actions {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s
}

.data-doc-actions li {
    margin: 3px
}

.data-doc-actions li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 31px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background: rgba(118, 104, 254, 0.7)
}

.data-doc-actions li a:hover {
    background: rgba(118, 104, 254, 0.9)
}

.data-vr-list {
    display: inline-flex;
    align-items: center
}

.data-vr-list li {
    display: inline-flex;
    align-items: center;
    margin-right: 18px;
    font-size: 12px;
    font-weight: 500
}

.data-vr-list li:last-child {
    margin-right: 0
}

.data-vr-list .data-state {
    margin-right: 9px
}

.data-action-list {
    display: inline-flex
}

.data-action-list li {
    padding: 0 5px
}

.data-action-list li:first-child {
    padding-left: 0
}

.data-action-list li:last-child {
    padding-right: 0
}

.data-action-dropdown {
    position: relative
}

@media (min-width: 576px) {
    .data-details-list>li {
        display: flex;
        align-items: center
    }

    .data-details-docs {
        width: calc(100% - 190px);
        border-top: none;
        margin-top: 0
    }

    .data-details-docs>li {
        border-left: 1px solid #d2dde9
    }

    .data-details-head {
        width: 190px;
        padding: 14px 20px
    }

    .data-details-des {
        border-top: none;
        border-left: 1px solid #d2dde9;
        width: calc(100% - 190px);
        padding: 14px 20px
    }

    .data-col .text-wrap {
        width: 140px
    }

    .data-col-wd-sm {
        width: 140px
    }

    .data-col-wd-md {
        width: 180px
    }

    .data-col-wd-lg {
        width: 220px
    }
}

@media (min-width: 768px) {
    .data-item .lead {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.02em
    }

    .data-item .sub {
        font-size: 12px;
        letter-spacing: 0.02em;
        padding-top: 7px
    }

    .data-item .sub-s2 {
        font-size: 13px;
        color: #495463
    }

    .data-details-info {
        font-size: 13px
    }

    .data-details>div {
        margin-bottom: 0
    }

    .data-details-head {
        font-size: 14px
    }

    .data-details-docs>li {
        width: 100%
    }

    .data-col .text-wrap {
        width: 150px
    }

    .data-col-wd-sm {
        width: 120px
    }

    .data-col-wd-md {
        width: 160px
    }

    .data-col-wd-lg {
        width: 200px
    }
}

@media (min-width: 992px) {
    .data-details-date {
        padding-bottom: 0
    }

    .data-details-docs {
        display: flex
    }

    .data-details-docs>li {
        width: 33%;
        border: none;
        border-left: 1px solid #d2dde9
    }

    .data-col .text-wrap {
        width: 190px
    }

    .data-col-wd-sm {
        width: 140px
    }

    .data-col-wd-md {
        width: 180px
    }

    .data-col-wd-lg {
        width: 220px
    }
}

.data-table {
    width: 100%
}

.data-table th.dataTables_empty,
.data-table td.dataTables_empty {
    background: #fff;
    border-radius: 4px !important;
    padding: 45px 0 15px
}

.data-table-fullwidth .table-wrap {
    width: 100%;
    overflow-x: auto
}

.data-table-fullwidth .data-col {
    min-width: 100px
}

.data-table-area {
    position: relative
}

.data-table-filter {
    position: absolute;
    right: 0;
    top: 3px;
    z-index: 11
}

.dt-docs a {
    font-size: 0.8em
}

.kyc-list .dt-doc-type,
.kyc-list .dt-doc-front,
.kyc-list .dt-doc-back,
.kyc-list .dt-status-sm,
.kyc-list .dt-sbdate,
.admin-tnx .dt-amount,
.admin-tnx .dt-usd-amount,
.admin-tnx .dt-base-amount,
.admin-tnx .dt-account,
.admin-tnx .dt-type-text,
.admin-tnx .dt-type-md,
.dt-hide,
.dt-mb,
.dt-xs,
.dt-sm,
.dt-md,
.dt-lg,
.dt-xl,
.dt-xs-all,
.dt-sm-all,
.dt-md-all,
.dt-lg-all,
.dt-xl-all {
    display: none
}

@media (min-width: 420px) {

    .kyc-list .dt-status-sm,
    .admin-tnx .dt-type-sm {
        display: none
    }

    .kyc-list .dt-status-text,
    .kyc-list .dt-status-md,
    .admin-tnx .dt-type-text,
    .admin-tnx .dt-type-md {
        display: inline-block
    }

    .dt-xs {
        display: table-cell
    }
}

@media (min-width: 576px) {

    .kyc-list .dt-doc-front,
    .dt-sm {
        display: table-cell
    }
}

@media (min-width: 768px) {

    .kyc-list .dt-doc-back,
    .kyc-list .dt-sbdate,
    .dt-md,
    .dt-mb {
        display: table-cell
    }
}

@media (min-width: 992px) {

    .kyc-list .dt-doc-type,
    .dt-lg {
        display: table-cell
    }
}

@media (min-width: 1200px) {

    .user-list .dt-login,
    .dt-xl {
        display: table-cell
    }
}

.badge1 {
    padding: 2px 8px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    color: #fff;
    border: 1px solid;
    min-width: 60px;
    vertical-align: middle
}

.badge-sq {
    height: 19px;
    width: 19px;
    min-width: 0;
    padding-left: 2px;
    padding-right: 2px
}

.badge-sm {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    min-width: 90px
}

.badge-md {
    padding: 6px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    min-width: 90px
}

.badge-md.badge-sq {
    height: 30px;
    width: 30px;
    min-width: 0;
    padding: 6px 0
}

.badge-lg {
    padding: 6px 15px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    min-width: 120px
}

.badge-xl {
    padding: 9px 15px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    min-width: 120px
}

.badge-xs {
    padding: 1px 5px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    min-width: 48px
}

.badge-xs.round {
    border-radius: 9px
}

.badge-xs.badge-sq {
    height: 16px;
    width: 16px;
    min-width: 0;
    padding-left: 2px;
    padding-right: 2px
}

.badge-block {
    width: 100%
}

.badge-auto {
    min-width: 0
}

.badge-circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 5px 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400
}

.badge-circle.badge-sm {
    height: 20px;
    width: 20px;
    font-size: 11px;
    line-height: 12px
}

.badge.badge-dim {
    color: #495463
}

.badge-primary {
    background: #7668fe;
    border-color: #7668fe
}

.badge-primary.badge-dim {
    background: #fff;
    border-color: #e9e7ff
}

.badge-light {
    background: #758698;
    border-color: #758698;
    color: #fff
}

.badge-light.badge-dim {
    background: #eaecef;
    border-color: #cdd3d9
}

.badge-lighter {
    color: #495463;
    background: #e6effb;
    border-color: #e6effb
}

.badge-lighter.badge-dim {
    color: #495463;
    border-color: #a4c5f0
}

.badge-dark {
    color: #fff;
    background: #495463;
    border-color: #495463
}

.badge-dark.badge-dim {
    background: #dee2e7;
    border-color: #b2bac6
}

.badge-secondary {
    background: #342d6e;
    border-color: #342d6e
}

.badge-secondary.badge-dim {
    background: #cdcae9;
    border-color: #aca6db
}

.badge-success {
    background: #00d285;
    border-color: #00d285
}

.badge-success.badge-dim {
    background: #c8ffeb;
    border-color: #53ffc0
}

.badge-info {
    background: #1babfe;
    border-color: #1babfe
}

.badge-info.badge-dim {
    background: #f0faff;
    border-color: #cdecff
}

.badge-warning {
    background: #ffc100;
    border-color: #ffc100
}

.badge-warning.badge-dim {
    background: #fff5d6;
    border-color: #ffe080
}

.badge-danger {
    background: #ff6868;
    border-color: #ff6868
}

.badge-danger.badge-dim {
    background: #ffe8e8;
    border-color: #ffb5b5
}

.badge-purple {
    background: #bc69fb;
    border-color: #bc69fb
}

.badge-purple.badge-dim {
    background: #f3e5fe;
    border-color: #ddb4fd
}

.badge-disabled {
    color: #495463;
    background: #d2dde9;
    border-color: #d2dde9
}

.badge-disabled.badge-dim {
    color: #5f6d80;
    background: #f4f7fa;
    border-color: #e3eaf1
}

.badge-outline {
    background: none;
    color: #495463
}
