.blur {
    width: 285.53px;
    height: 285.53px;
    background-color: var(--primary-color);
    border-radius: 1000px;
    position: absolute;
    margin: auto;
    inset: 0;
    z-index: 0;
    filter: blur(180px);
}