.button_shadow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .blue_shadow {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 52%;
        height: 100%;
        border-radius: 100px 0 0 100px;
        background-color: #00000000;
        box-shadow: 0px 0px 45px rgba(0, 174, 255, 0.35);
    }

    .red_shadow {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 52%;
        height: 100%;
        border-radius: 0 100px 100px 0;
        background-color: #00000000;
        box-shadow: 0px 0px 45px rgba(255, 0, 46, 0.4);
    }

    .button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:8px;
        width: fit-content;
        background: linear-gradient(to right, rgba(0, 174, 255, 1), rgba(255, 0, 46, 1));
        padding: 13px 40px;
        border-radius: 200px;
        color: var(--color-gray-1);
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        z-index: 1;
        box-sizing: border-box ;
        overflow: hidden;
        transition: all 500ms ease;
        cursor: pointer;
    }

        .button i, .text_button {
            line-height: 0;
            font-size: 13px;
            z-index: 2;
        }

        .button span {
            z-index: 2;
        }

        .button::after {
            content: "";
            width: calc(100% - 4.5px);
            height: calc(100% - 4.5px);
            top: 0;
            bottom: 0;
            margin: auto 0;
            position: absolute;
            background-color: #0B1E26;
            border-radius: 100px;
        }