.section_menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 18, 25, 0.9);
    border-bottom: 1px solid #0B1E26;
    z-index: 9;
    backdrop-filter: blur(150px);
    -webkit-backdrop-filter: blur(150px);
}

.container_menu {
    display: flex;
    width: 90vw;
    max-width: 1192px;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.box_menu {
    display: flex;
    align-items: center;
    gap: 72px;
}

.box_menu img {
    width: 94.06px;
    height: 100%;
}

.menu {
    display: flex;
    gap: 56px;
}

.opt_menu {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #B1C3CC;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.menu_hamburguer {
    display: none;
}

.menu_suspenso {
    display: none;
}



/* Mobile version */

@media (max-width: 480px) {

    .section_menu .box_menu{
        height: 15.556vw;
    }

        /* Menu register / login */
        .menu_register {
            justify-content: space-between;
            gap: 0 !important;
            align-items: center;
            width: 90vw;
            height: 83px;
        }

    .box_menu img, .box_menu .menu_register img {
        width: 26.128vw;
        height: 7.775vw;
    }


    .section_menu .container_menu #link_button {
        display: none
    }
    
    .menu , .menu_register p {
        display: none;
    }
    
    #button_menu {
        display: none;
    }

    .menu_hamburguer {
        width: 6.600vw;
        display: flex;
        flex-direction: column;
        gap: 1.667vw;
        align-items: center;
    }

    .menu_hamburguer .r1 , .menu_hamburguer .r2, .menu_hamburguer .r3 {
        height: 0.692vw;
        background-color: #B1C3CC;
        border-radius: 30px;
    }

    .menu_hamburguer .r1 , .menu_hamburguer .r3 {
        width: 100%;
    }

    .menu_hamburguer .r2 {
        width: 60%;
    }

    


    /* Anim menu mobile */

        /* Descer menu */
        
        .menu_anim {
            animation: menuAnim 500ms ease-in-out;
            animation-fill-mode: forwards;
            justify-content: flex-start;
            flex-direction: column;
            gap:8.889vw;
        }

        .menu_anim  .container_menu, .menu_anim .menu_register {
            position: relative;
            z-index: 1;
        }


        @keyframes menuAnim {
            100% {
                height: 100vh;
            }
        }

        .menu_animReverse {
            height: 100vh;
            animation: menuAnimReverse 500ms ease-in-out;
            animation-fill-mode: forwards;
            justify-content: flex-start;
            flex-direction: column;
            gap:8.889vw;
        }

        .menu_animReverse  .container_menu, .menu_animReverse .menu_register{
            position: relative;
            z-index: 1;
        }

        @keyframes menuAnimReverse {
            100% {
                height: 83px;
            }
        }


        /* Opções do menu */
        
        .menu_suspenso{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8.889vw;
            transform: translateY(-40vh);
            opacity: 0;
        }

        .menu_suspenso_anim {
            animation: optMenuAnim 350ms ease-in-out 150ms;
            animation-fill-mode: forwards;
        }

        @keyframes optMenuAnim {
            100% {
                transform: translateY(40%);
                opacity: 1;
            }
        }

        .menu_suspenso_anim_reverse {
            animation: optMenuAnimReverse 500ms ease-in-out;
            animation-fill-mode: forwards;
            transform: translateY(30%);
            opacity: 1;
        }

        @keyframes optMenuAnimReverse {
            100% {
                transform: translateY(-40vh);
                opacity: 0;
            }
        }


        /* Animação do botão */

        .line1Anim {
            animation: line1Anim 200ms ease;
            animation-fill-mode: forwards;
        }

        @keyframes line1Anim {
            100% {
                transform: rotateZ(45deg);
            }
        }


        .line2Anim {
            animation: line2Anim 200ms ease;
            animation-fill-mode: forwards;
        }

        @keyframes line2Anim {
            100% {
                width: 0px;
                margin: -35% 0;
            }
        }


        .line3Anim {
            animation: line3Anim 200ms ease;
            animation-fill-mode: forwards;
        }

        @keyframes line3Anim {
            100% {
                transform: rotateZ(-45deg);
            }
        }



        .line1AnimReverse {
            animation: line1AnimReverse 200ms ease;
            animation-fill-mode: forwards;
            transform: rotateZ(45deg)
        }

        @keyframes line1AnimReverse {
            100% {
                transform: rotateZ(0deg);
            }
        }


        .line2AnimReverse {
            animation: line2AnimReverse 200ms ease;
            animation-fill-mode: forwards;
            width: 0px;
            margin: -35% 0;
        }

        @keyframes line2AnimReverse {
            100% {
                width:  60%;
                margin: auto;
            }
        }


        .line3AnimReverse {
            animation: line3AnimReverse 200ms ease;
            animation-fill-mode: forwards;
            transform: rotateZ(-45deg);
        }

        @keyframes line3AnimReverse {
            100% {
                transform: rotateZ(0deg);
            }
        }

}
